.titulo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #080f28;
    color: white;
  
    margin-bottom: 2%;
    padding: 20px;
    text-align: left;
    width: 100%;
    
  }
  .titulo button{
    font-weight: bolder;
    margin-left: 3%;
    width: max-content;
    padding: 5px;
   
   
  }

 
  .busqueda {
    display: flex;
    align-items: center;
    border-color: #080f28;
    background-color:#218EAB;
 
  }
  .busqueda ::placeholder{
    color: #080f28;

  }
  .busqueda input {
    border-width: thin;  
    padding: 5%;
    margin-left:75%;
    margin-bottom: 10%;
    border-color: #080f28;
   

    
  }
  .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 60px 0;
    margin-bottom: 2%;
    background-color: #080f28;
  
  
  }
  