
/*detalle pelicula*/
.d-pelicula{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    background-color: #080f28;
    color: white;
    text-transform:uppercase;
  }
  h1{
    margin: auto;
    padding-top: 2%;
    text-align: center;
   }
  .detalleP p{
    color: white;
    text-transform: uppercase;
    padding: 1%;
    font-weight: bolder;
    margin: auto;
  }
  .d-pelicula hr{
    color: white;
  }
.contain{
    display: flex;
    flex-direction: column;
    padding: 3%;
    justify-content: space-between;
}
  .foto-pelicula-popular img{
    display: block;
    margin: auto;
    width: 40%;
    padding: 15px;
  }